@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.App {
  background-color: #e55c8a;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #3c4249;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  width: 600px;
  max-height: 80vh;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 3px #000000ca;
  margin: 40px 0px;
}

.container h1 {
  color: #ffffff;
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1px;
  text-align: center;
}

.container p {
  color: #727272;
  font-size: 13px;
  font-weight: 300;
  margin-top: 8x;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 10px;
  color: #3c4249;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.footer a {
  color: #3c4249;
}

@media (max-width: 650px) {
  .container {
    max-height: 85vh;
    width: 96%;
  }
}
